.all {}

.sectionoursolution {
    width: 20%;
    float: left;
    margin: 1%;
    cursor: pointer;
}

.jif {
    font-size: 13px;
}

.mname {
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.sectionoursolution .row {
    align-items: center;
}

.oursolutioncategory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.oursolutioncategory .solutioncardsbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.solutioncardsbox .solutioncard {
    flex: 0 50%;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
        0 5px 15px 0 rgba(37, 44, 97, 0.15);
    border-radius: 15px;
    /* margin: 8px; */
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    min-height: 190px;
    transition: 0.7s;
    height: 200px;
}

.solutioncardsbox .solutioncard:hover {
    background: #309df0;
    color: #fff;
    transform: scale(1.1);
    z-index: 9;
}

.solutioncardsbox .solutioncard:hover::before {
    background: rgb(85 108 214 / 10%);
}

.solutioncardsbox .solutioncard:hover .solutitle h3,
.solutioncardsbox .solutioncard:hover .soludescription p {
    color: #fff;
    text-align: center;
}

.solutioncardsbox .solutioncard:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 200px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
}

.solutioncardsbox .solutioncard:hover .soludescription button {
    background: #fff !important;
    color: #309df0;
}

.solutioncard .sotopicon {
    text-align: center;
}

.picimg {
    width: 100px;
    height: 100px;
}

.solutioncard .solutitle div {
    color: #212121;
    font-size: 1.3rem;
    margin-top: 13px;
    margin-bottom: 13px;
}

.solutioncard .soludescription p {
    font-size: 15px;
    margin-bottom: 15px;
}

.solutioncard .soludescription button {
    border: 0;
    border-radius: 15px;
    background: linear-gradient(140deg,
            #42c3ca 0%,
            #42c3ca 50%,
            #42c3cac7 75%) !important;
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 16px;
}

.oursolutioncontent div {
    text-transform: capitalize;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.oursolutioncontent p {}

.hovercolorbubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 100rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.solutioncardsbox .solutioncard:hover .hovercolorbubble {
    top: 0rem;
}

.soludescription {
    text-align: center;
}

.picimg {
    width: 150px;

}

.readmorebtn {
    margin-top: 10px;
}

/* .solutioncardsbox .solutioncard .sotopicon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
} */



/*start media query*/
@media screen and (min-width: 320px) {
    .solcardtop3 {
        position: relative;
        top: 0;
    }

    .oursolutioncategory {
        width: 100%;
        margin: 0 auto;
    }

    .oursolutioncategory .solutioncardsbox {
        flex: auto;
    }
}

@media only screen and (min-width: 768px) {
    .oursolutioncategory .solutioncardsbox {
        flex: 1;
    }
}

@media only screen and (min-width: 1024px) {
    .solcardtop3 {
        position: relative;
        top: -3rem;
    }

    .oursolutioncategory {
        width: 80%;
        margin: 0 auto;
    }
}