.all {
    background-color: white;
    height: 450px;
    opacity: .8;
}

.but {
    position: absolute;
    top: 240px;

    display: flex;
}

.people {
    position: relative;
    left: 10px;
    top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
}