.all {

    display: flex;
    width: 95vw;
}

.content {
    display: flex;
    width: 90vw;
    height: 60vh;
}

.videoall {
    display: flex;
    justify-content: center;
}

.wke {
    width: 60vw;
}