.all {
    /* text-align: center; */
    text-align: left;
    padding-left: 10px;
}

.tit {
    height: 30px;
    line-height: 30px;
    margin-top: 20px;
    font-size: 16px;
    /* font-family: ; */
}

.sizesel {
    // height: 50px;
}